@use 'styles/default';

.card{
  width: 264px;
  height: 264px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  img{
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .card{
    width: 150px;
    height: 150px;
  }
}