@use 'styles/default';

.container{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.menu{
  border-left: 1px solid default.$bg_secondary;
  margin-left: auto;
  background-color: default.$bg_primary;
  width: 360px;
  height: 100vh;
  text-align: center;
  position: relative;
}

.logo{
  display: flex;
  align-items: center;
  padding: 20px 0 0 40px;

  * + * {
    margin-left: 10px;
  }

  h3{
    font-weight: 800;
    font-size: 23px;
    color: default.$text_primary;
  }
  h2{
    justify-self: flex-end;
  }
}

.close{
  position: absolute;
  top: 5px;
  cursor: pointer;
  right: 30px;
  &:after{
    content: '\d7';
    color: white;
    font-size: 40px;
  }
}

.links_list {
  display: grid;
  min-height: 400px;
  align-items: center;
  grid-gap: 40px;
  margin-top: 70px;
  justify-content: center;
  li {
    list-style-type: none;
    color: default.$text_secondary;
    font-weight: 400;
    font-size: 34px;
    line-height: 21px;
    cursor: pointer;

    &:hover{
      color: whitesmoke;
    }
  }
}

.app_btn{
  width: 160px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;

}